*{
    box-sizing: border-box;
    /* font-family: 'Heebo', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
}



.nav{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0;
    top: 50%;
    width: auto;
    margin-top: -2.5em;
    z-index: 2;
    background-color: salmon;
    text-transform: uppercase;
    letter-spacing: 2px;

} 

#nav-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 10pt; 
    font-weight: 500;
    padding: 16px;
}

.about{
   /* display: flex; */
   /* margin-left: 20%; */
   /* margin-right: 20%; */
   padding-top: ).5%;
   /* margin-bottom: 10%; */
   margin: auto;
   width: 50%;
   /* border: 3px solid green; */
   /* padding: 10px; */
}

/* .nav-container{
    height: 100vh;
    background-color: blueviolet;
    width: 24px;
    z-index: 1;
} */


#nav-item:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 10pt;
    padding-left: 16px;
    transition: all 500ms;
    border-left: 8px solid black;
    color: black;
}

p{
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 64pt;
}

a{
    color:salmon;
}

.projects{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

.contact{
    background-color: grey;
    height: 980px;
}

/* .project-left{
  display: flex;
  justify-content: flex-end;
} */

img{
    padding-right: 64px;
    /* padding-left: 64px; */
    padding-top: 60px;
    padding-bottom: 60px;
    
    /* z-index: -1; */
}

.project-left{
    position: relative;
}

.view-project{
    border: 5px solid salmon;
    height: 200px;
}

h4{
    border: 5px solid salmon;
    /* display: block;
    position: absolute; */
    /* position: absolute;
    bottom: -220px;
    right: 600px; */
    font-size: 64pt !important;
    /* z-index: 2; */

    position: absolute;
    width: 100%;
    margin: 0;
    padding-right: 20px;
    bottom: 10px;
    right: 20px;
    display: block;
    text-align: right;
    letter-spacing: -0.03em;
    /* border: 1px solid #fff; */
    line-height: 0.80em;
    padding-top: 64px;
}

/* 
.hover-title:hover:after{
    content: attr(view-project);
    font-size: 64pt;
} */

.info{
    transform: rotate(270deg);
    position: absolute;
    bottom: 300px;
    right: 0px;
}